@import "tailwindcss";

@theme {
  /* Tokens de Fundo */
  --color-bg-dark: #000000;
  --color-bg-light: #EBEBEB;
  
  /* Tokens de Texto */
  --color-text-light: #FFFFFF;
  --color-text-dark: #1A1A1A;
}

/* Limpando o fundo padrão da página para garantir as nossas cores */
body {
  background-color: var(--color-bg-light);
  color: var(--color-text-dark);
}